@charset "UTF-8";
@import "base.css";


h2 {
  margin-top: 60px;
}

.flex {
  margin-top: 20px;
  display: flex;
}

.flex > div {
  width: calc(33.3% - 16.66px);
  height: 360px;
  border-radius: 6px;
  background-color: #ddd;
  box-shadow: 2px 2px 2px #aaa;
}

#box-2, #box-3 {
  margin-left: 25px;
}

input + input {
  margin: 30px 0 0 15px;
}

input[type="button"] {
  width: 100px;
  height: 45px;
  text-align: center;
  background-color: #039be5;
  border: 1px solid #039be5;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .2px;
  color: #fff;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #038ed2;
}

.buttons {
  text-align: left;
}
