@charset "utf-8";
@import "base.css";


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Fixed background (shorthand)                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

body {
  height: 1000px;
}

#wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*
    The forward slash is required syntax for separating background position
    values and background size values. This is to eliminate misinterpretation
    of the values specified
  */
  background: #fff url("desert.jpg") center center / cover no-repeat fixed;
}

.content {
  margin-top: 50px;
  text-align: center;
}
