@charset "utf-8";
@import "base.css";


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Two columns layout with flexbox and calc()           */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

h2 {
  margin-top: 60px;
}

.columns {
  margin-top: 20px;
  display: flex;
}

.columns section {
  width: 70%;
  height: 1200px;
  background-color: #029be5;
  border-radius: 6px;
  box-shadow: 2px 2px 6px #bbb;
}

.columns aside {
  margin-left: 25px;
  /* to cover 100% of the parent container */
  width: calc(30% - 25px);
  height: 400px;
  background-color: #02e5be;
  border-radius: 6px;
  box-shadow: 2px 2px 6px #bbb;
}
