h1 {
  font-size: 30px;
  text-align: center;
  color: #0066ff;
}

h2 {
  margin-top: 30px;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

footer {
  margin-top: 50px;
  font-size: 18px;
}

.box1 {
  width: 250px;
  height: 250px;
  background-color: #9900ff;
  border-radius: 8px;
}

.box1 p, .box2 p, .box3 p {
  line-height: 250px;
  text-align: center;
  font-size: 30px;
}

.box2 {
  width: 250px;
  height: 250px;
  background-color: #ff9900;
  margin-top: 15px;
  border-radius: 50%;
}

.box3 {
  width: 250px;
  height: 250px;
  background-color: #00ff99;
  margin-top: 15px;
  border-radius: 8px;
}
