@charset "UTF-8";
@import "base.css";



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Form                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.form {
  margin-top: 60px;
}

.form p {
  margin-top: 20px;
  font-size: 16px;
}

main {
  width: 415px;
  font-size: 0;
}

main h2 {
  font-size: 24px;
}

h3 {
  margin: 20px 0 10px 0;
  font-size: 18px;
  font-weight: 400;
}

input[type="text"] {
  margin-top: 22px;
  width: 300px;
  height: 50px;
  padding: 0 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-align: left;
}

form input + input {
  margin-top: 15px;
}

input:focus {
  border: 1px solid #61cafd;
}

input[type="button"] {
  margin-left: 15px;
  width: 100px;
  height: 46px;
  text-align: center;
  background-color: #039be5;
  border: 1px solid #039be5;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .2px;
  color: #fff;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #038ed2;
}

.buttons {
  text-align: right;
}

.result {
  margin-top: 15px;
  padding: 0 15px;
  height: 50px;
  background-color: #f2f3f4;
  border-radius: 4px;
}

#result {
  margin-top: 0;
  line-height: 50px;
}
