@import "base.css";

/* - - - - - - - - - - - - - - - - - - - - - */
/* Header                                    */
/* - - - - - - - - - - - - - - - - - - - - - */

header {
  min-width: 100%;
  background-color: #00945f;
}

.title {
  width: 20%;
  height: 56px;
}

.title h1 {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .4px;
  line-height: 56px;
  color: #fff;
}

nav {
  width: 80%;
  height: 56px;
}

nav ul {
  list-style: none;
  text-align: right;
}

nav ul li {
  display: inline;
  line-height: 56px;
}

nav ul li a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li + li {
  margin-left: 15px;
}

nav ul li:last-child a {
  padding: 6px 25px;
  background-color: #fff;
  color: #00945f;
  border-radius: 50px;
  text-decoration: none;
}


/* - - - - - - - - - - - - - - - - - - - - - */
/* Background                                */
/* - - - - - - - - - - - - - - - - - - - - - */

body {
  background: #fff url('desert.jpg') center center / cover no-repeat fixed;
}

article {
  margin-top: 50px;
}

article h2 {
  margin-top: 20px;
}

article p {
  margin-top: 12px;
  line-height: 1.5;
  font-size: 18px;
}
