@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

/* - - - - - - - - - - - - - - - - - - - - */
/* Nav                                     */
/* - - - - - - - - - - - - - - - - - - - - */

nav {
  height: 55px;
  margin-top: 40px;
  background-color: rgb(0, 127, 255);
  font-size: 0;
}

nav ul {
  /* Remove the bullets */
  list-style: none;
  text-align: center;
  line-height: 55px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: .4px;
  cursor: pointer;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li + li {
  /* Apply style to every 'li' that comes after another 'li' */
  margin-left: 25px;
}
